<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
>
<h:head>
<!-- Required meta tags -->
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
      <!-- Bootstrap CSS -->
<title>Login Page -- Ninad's SE Assignment 2</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>


</h:head>
<h:body>
<ui:include src="navBar.xhtml"/>
<c:if test="#{sessionScope.login_user == null}">
<div class="container">

	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
		<div class="card">
			<div class="card-header">Login Form</div>
			<div class="card-body">
<h:form>

<div class="form-group">
    <label for="email">Username</label>
    <div class="input-group mb-2 mb-sm-0">
  <div class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
  <h:inputText styleClass="form-control" id="inputUsername" value="#{LoginController.username}">
    	<f:passThroughAttribute name="aria-describedby" value="Username" />
    	<f:passThroughAttribute name="placeholder" value="Enter Username" />
    </h:inputText> 
  </div>
    <small id="usernameHelp" class="form-text text-muted">Only if you have registered!</small>
</div>
  <div class="form-group">
    <label for="inputPassword" class="col-form-label">Password</label>
    
    <div class="input-group mb-2 mb-sm-0">
    <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></div>
    	<h:inputSecret  styleClass="form-control" id="inputPassword" value="#{LoginController.password}"
    	required="true" requiredMessage="Password is required for login to work!!!"
    	validatorMessage="Password must be between 8-20 Characters long">
    		<f:passThroughAttribute name="aria-describedby" value="inputPassword" />
    		<f:passThroughAttribute name="placeholder" value="Password" />
    		<f:validateLength minimum="2" maximum="20"/>
    	</h:inputSecret >
    </div>
    <h:message for="inputPassword" style="color:red"/>
  </div>
  
  
<h:commandButton id="submit" styleClass="btn btn-primary" value="Log in" action="#{LoginController.tryLoginFromDB}">
	<f:ajax execute = "@form" render = "loginMessage" />
</h:commandButton>
  
</h:form>
</div>
</div>
</div>
<div class="col-3"></div>
</div>


	<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
	<div class="alert alert-primary" role="alert">
	<c:if test = "${flash.registerSuccess != null}">
         <p> <h:outputLabel value = "${flash.registerSuccess}"/></p>
      </c:if>
		<h:outputText id = "loginMessage"
            value = "#{LoginController.loginStatus}" />
    </div>
	</div>
	<div class="col-3"></div>
	</div>
</div>
</c:if>
<c:if test="#{sessionScope.loginStatus != null}">

<a href="userDashboard.xhtml"> Please access your dashboard</a>
</c:if>



<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</h:body>


</html>
