<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<div class="container">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="login.xhtml"> <img
				src="https://image.flaticon.com/icons/png/128/28/28968.png"
				width="30" height="30" class="d-inline-block align-top"
				alt="JSF Logo - Nin" /> Ninad's My Stock
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav mr-auto"></ul>
				<div class="navbar-nav">
					<form class="form-inline my-2 my-lg-0" method="GET" action="showStock.xhtml">
						
						<h:inputText styleClass="form-control mr-sm-4" id="searchBar"
							value="#{SearchController.term}" style="text-transform:uppercase">
							<f:passThroughAttribute name="aria-label" value="Search" />
							<f:passThroughAttribute name="placeholder"	value="Enter Stock to Search" />
								<f:passThroughAttribute name="name" value="term"/>
						</h:inputText>
						<!--

						-->
						<input type="submit" value="search" class="btn btn-outline-success my-2 my-sm-0"/>
						
					</form>
					

					<c:choose>
						<c:when test="#{sessionScope.loginStatus != null}">
							<a class="nav-item nav-link" href="logout.xhtml">Logout </a>
							<ui:remove>
								<!-- This tag works, but sucks in looks... hence created a new page instead...  -->
								<h:form>

									<h:commandLink action="#{LoginController.logout}"
										value="Logout" />
								</h:form>
							</ui:remove>
						</c:when>
						<c:otherwise>
							<a class="nav-item nav-link" href="login.xhtml">Login </a>
							<a class="nav-item nav-link" href="register.xhtml">Register</a>
						</c:otherwise>
					</c:choose>

				</div>
			</div>
		</nav>
		<br></br>
	</div>
</ui:composition>