<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	>
<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8"></meta>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	<!-- Bootstrap CSS -->
	<title>Ninad's JSF Login and Register</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
		crossorigin="anonymous"></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
</h:head>
<h:body>
	<!-- Importing the Nav Bar -->
	<ui:include src="navBar.xhtml" />

	<div class="container" >
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">

				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-6">Register Form</div>
							<div class="col-md-6 text-right">
								<small class=" font-italic">All fields required</small>
							</div>
						</div>
					</div>
					<div class="card-body">
						<h:form rendered="#{sessionScope.login_user eq null}">
							<div class="form-row">

								<div class="form-group col-md-6">
									<label for="firstName" class="col-form-label">First
										Name</label>
									<h:inputText styleClass="form-control" id="firstName"
										value="#{myUser.firstName}" required="true"
										requiredMessage="First Name is required!">
										<f:passThroughAttribute name="aria-describedby"
											value="firstName" />
										<f:passThroughAttribute name="placeholder"
											value="Enter First Name" />
										<f:validateRegex pattern="[a-zA-Z]+" />
									</h:inputText>
								</div>

								<div class="form-group col-md-6">
									<label for="lastName" class="col-form-label">Last Name</label>
									<h:inputText styleClass="form-control" id="lastName"
										value="#{myUser.lastName}" required="true"
										requiredMessage=" Last Name is required!">
										<f:passThroughAttribute name="aria-describedby"
											value="lastName" />
										<f:passThroughAttribute name="placeholder"
											value="Enter Last Name" />
										<f:validateRegex pattern="[a-zA-Z]+" />
									</h:inputText>
								</div>
							</div>
							<h:message for="firstName" style="color:red" />
							<h:message for="lastName" style="color:red" />


							<div class="form-group">
								<label for="inputAddress" class="col-form-label">Address</label>
								<!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"></input>-->
								<h:inputText styleClass="form-control" id="inputAddress"
									value="#{myUser.address}" required="true"
									requiredMessage="Address is required !">
									<f:passThroughAttribute name="aria-describedby"
										value="inputAddress" />
									<f:passThroughAttribute name="placeholder"
										value="1400, Washington Ave." />
								</h:inputText>
							</div>


							<div class="form-group">
								<label for="inputPhoneNumber" class="col-form-label">Phone
									Number</label>

								<h:inputText styleClass="form-control" id="inputPhoneNumber"
									value="#{myUser.phoneNumber}" required="true"
									validatorMessage="Phone Number should be 10 Digits and no symbols in format: 1234567890 ">
									<f:passThroughAttribute name="aria-describedby"
										value="inputPhoneNumber" />
									<f:passThroughAttribute name="placeholder" value="5180000000" />
									<f:validateRegex pattern="^([+]?[\d]+)?$" />
									<f:validateLength minimum="10" maximum="10" />
								</h:inputText>
							</div>
							<h:message for="inputPhoneNumber" style="color:red" />


							<div class="form-group">
								<label for="inputEmail" class="col-form-label">EMail
									Address</label>

								<h:inputText styleClass="form-control" id="inputEmail"
									value="#{myUser.email}"
									validatorMessage="Please enter a valid Email" required="true">
									<f:passThroughAttribute name="aria-describedby"
										value="inputEmail" />
									<f:passThroughAttribute name="placeholder"
										value="abc@albany.edu" />
									<f:passThroughAttribute name="type" value="email" />

									<f:validateRegex
										pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
								</h:inputText>
								<h:message for="inputEmail" style="color:red" />
							</div>
							<div class="form-group">
								<label for="inputUrl" class="col-form-label">(For
									Managers Only) Certificate URL : </label>

								<h:inputText styleClass="form-control" id="inputUrl"
									value="#{myUser.url}"
									validatorMessage="Please enter a valid URL" required="false">
									<f:passThroughAttribute name="aria-describedby"
										value="inputUrl" />
									<f:passThroughAttribute name="placeholder"
										value="http://example.com/certificate.jpg" />
									<f:passThroughAttribute name="type" value="url" />


								</h:inputText>
								<h:message for="inputEmail" style="color:red" />
							</div>
							<br></br>


							<div class="form-group">
								<label for="inputUsername" class="col-form-label">Username</label>

								<div class="input-group mb-2 mb-sm-0">
									<div class="input-group-addon">
										<i class="fa fa-user-circle" aria-hidden="true"></i>
									</div>
									<h:inputText styleClass="form-control" id="inputUsername"
										value="#{myUser.username}" required="true"
										validatorMessage="Oops! That username is taken please try a new one OR Your username contains non-alpha characters"
										requiredMessage="Username is extremly necessary !">
										<f:passThroughAttribute name="aria-describedby"
											value="inputUsername" />
										<f:passThroughAttribute name="placeholder"
											value="Username -- Only Characters" />
										<f:validateRegex pattern="[a-zA-Z]+" />
										<f:validator binding="#{UsernameValidator}" />
									</h:inputText>
								</div>
								<h:message for="inputUsername" style="color:red" />
							</div>


							<div class="form-group">
								<label for="inputPassword" class="col-form-label">Password</label>

								<div class="input-group mb-2 mb-sm-0">
									<div class="input-group-addon">
										<i class="fa fa-lock" aria-hidden="true"></i>
									</div>
									<h:inputSecret styleClass="form-control" id="inputPassword"
										value="#{myUser.password}" required="true"
										requiredMessage="Password is required for login to work!!!"
										validatorMessage="Password must be between 8-20 Characters long">
										<f:passThroughAttribute name="aria-describedby"
											value="inputPassword" />
										<f:passThroughAttribute name="placeholder" value="Password" />
										<f:validateLength minimum="8" maximum="20" />
									</h:inputSecret>
								</div>
								<h:message for="inputPassword" style="color:red" />
							</div>
							<div class="form-group">
								<label for="type" class="col-form-label">Signup as: </label>

								<div class="input-group mb-2 mb-sm-0">
									<h:selectOneRadio value="#{myUser.type}">
										<f:selectItem itemValue="CUSTOMER" itemLabel="Customer" />
										<f:selectItem itemValue="MANAGER" itemLabel="Manager" />

									</h:selectOneRadio>
								</div>
							</div>

							<h:commandButton styleClass="btn btn-primary" value="Sign Up"
								action="#{myUser.registerEntity}" />

						</h:form>
						<h:outputText rendered="#{sessionScoped.login_user eq null}" value="Please logout to register new user!"></h:outputText>
					</div>
				</div>

			</div>
			<div class="col-2"></div>
		</div>

	</div>


	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
		crossorigin="anonymous"></script>
</h:body>


</html>
