<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>Show Users -- Ninad's SE Assignment 2</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
		crossorigin="anonymous"></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>

</h:head>

<h:body>
	<ui:include src="navBar.xhtml" />
	<c:if test="#{sessionScope.login_user.role eq 'ADMIN'}">
		<div class="container">
			<div class="row">
				<div class="col-10">
					<h2>Users in Application Scope</h2>


					<h:dataTable value="#{myUser.allUsersArray}" var="user"
						styleClass="table table-striped" headerClass="employeeTableHeader"
						rowClasses="employeeTableOddRow,employeeTableEvenRow">

						<h:column>
							<f:facet name="header">Name</f:facet>    				
               #{user.firstName} #{user.lastName}
            </h:column>
						<h:column>
							<f:facet name="header">Username1</f:facet>
               #{user.username}
            </h:column>
						<h:column>
							<f:facet name="header">EMail</f:facet>
               #{user.email}
            </h:column>

						<h:column>
							<f:facet name="header">Password</f:facet>
               #{user.password}
            </h:column>

						<h:column>
							<f:facet name="header">address</f:facet>
               #{user.address}
            </h:column>
						<h:column>
							<f:facet name="header">Phone Number</f:facet>
               #{user.phoneNumber}
            </h:column>
						<h:column>
							<f:facet name="header">status</f:facet>
               #{user.status}
            </h:column>
						<h:column>
							<f:facet name="header">Approve/Decline</f:facet>
							
					
								<h:form rendered="#{user.status eq 'DISABLED'}">
									<h:commandButton 
									
									id="submit" styleClass="btn btn-primary"
										value="APPROVE" action="#{myUser.approveManager(user.id)}">
										<f:ajax execute="@form" render="loginMessage" />
									</h:commandButton>
								</h:form>


						</h:column>

					</h:dataTable>
				</div>
			</div>
		</div>
	</c:if>
	<c:if test="#{sessionScope.login_user.role ne 'ADMIN'}">
		<p>Only Admin can see this</p>
	</c:if>




	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
		crossorigin="anonymous"></script>


</h:body>
</html>