<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8"></meta>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	<!-- Bootstrap CSS -->
	<title>My Stock - Show Stock Info</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
		crossorigin="anonymous"></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</h:head>
<h:body>
	<f:metadata>
		<f:viewParam name="term" value="#{SearchController.term}" />

		<f:viewAction action="#{SearchController.loadStocks}" />
	</f:metadata>
<p id="term"> #{SearchController.term}</p>
	

	<!-- Importing the Nav Bar -->
	<ui:include src="navBar.xhtml" />

	<div class="container">
		<div class="row">

			<div class="col-md-6 col-sm-12">

				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-6">Per Minute Graphs</div>
							<div class="col-md-6 text-right">
								<small class=" font-italic">Updated in Realtime</small>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div id="intradayGraphDiv"></div>
						<div id="intradayGraphDivLoading">Loading... Please wait</div>
					</div>
				</div>


			</div>
			<div class="col-md-6 col-sm-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-6">Daily Graphs</div>
							<div class="col-md-6 text-right">
								<small class=" font-italic">Updated in Realtime</small>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div id="dailyGraphDiv"></div>
						<div id="dailyGraphDivLoading">Loading... Please wait</div>
					</div>
				</div>

			</div>
		</div>
		<br></br>
<h:form>
<h:inputText type="hidden" id="termInput" value="#{TxManager.term}">
				<f:passThroughAttribute name="type"
						value="hidden" />
			
				<f:passThroughAttribute name="aria-label"
						value="termInput" />
				</h:inputText>
		<div class="d-flex justify-content-center">
			<div class="p-2">
				Current Price: $<span id="currentPrice">#{SearchController.currentPrice}
				</span>
				<h:inputText type="hidden" id="currentPriceInput" value="#{TxManager.currentPrice}">
				<f:passThroughAttribute name="type"
						value="hidden" />
			
				<f:passThroughAttribute name="aria-label"
						value="currentPriceInput" />
				</h:inputText>
			</div>

		</div>

		<div class="d-flex justify-content-center">
			<div class="p-4">
			Quantity: 
				<h:inputText styleClass="" id="quantity"
					value="#{TxManager.quantity}">
					<f:passThroughAttribute name="aria-label"
						value="quantity" />
					<f:passThroughAttribute name="placeholder" value="1" />
				</h:inputText>





			</div>


		</div>
		<div class="d-flex justify-content-center">
			<div class="p-2">
			
			<h:commandButton value="" id="buyButton" styleClass="btn btn-primary" action="#{TxManager.buyStock}" >
			<f:passThroughAttribute name="aria-label"
						value="buyButton" />
			</h:commandButton>

			</div>
		</div>
</h:form>
	</div>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
		crossorigin="anonymous"></script>

	
<script>
$(document).ready(function(){
	var term = "#{SearchController.term}";
	
	$("[aria-label=currentPriceInput]").hide();
	$("[aria-label=termInput]").hide().val(term);
	
	var currentPrice = parseFloat("#{SearchController.currentPrice}");
	$("[aria-label=currentPriceInput]").val(currentPrice);
	
	$("[aria-label=buyButton]").val("Buy 1 at $"+currentPrice+"/-");
	$("[aria-label=quantity]").val("1");
	$("[aria-label=quantity]").on("keyup",function(){
		$("[aria-label=currentPriceInput]").val=currentPrice;
		var quantity = parseInt($("[aria-label=quantity]").val());
		
		
		var amt = quantity * currentPrice;
		if(amt) $("[aria-label=buyButton]").val("Buy "+quantity+" at $"+amt+"/-");
		else $("[aria-label=buyButton]").val("Buy 1 at $"+currentPrice+"/-");
		//console.log("q: " + quantity + " c : "+ currentPrice + " amt: "+amt  );
	});
	
	
});
</script>
<script src="../mygraph.js"></script> 
</h:body>


</html>
