<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8"></meta>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	<!-- Bootstrap CSS -->
	<title>User Dashboard -- Ninad's SE Assignment 2</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
		crossorigin="anonymous"></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>


</h:head>
<h:body>
	<ui:include src="navBar.xhtml" />

	<div class="container">
		<c:choose>
			<c:when test="#{sessionScope.loginStatus != null}">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h3>
									Hello ,
									<h:outputText value="#{sessionScope.loginStatus}" />
								</h3>
							</div>
							<c:if test="#{sessionScope.login_user.role eq 'ADMIN'}">
								<a href="showUsers.xhtml">Manage Users</a>
							</c:if>
							
						</div>

					</div>
				</div>
				
				<div class="row">
				
				</div>

			</c:when>
			<c:otherwise>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h3>Please Login to view this page</h3>
							</div>
						</div>

					</div>
				</div>
			</c:otherwise>
		</c:choose>





	</div>


	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
		crossorigin="anonymous"></script>
</h:body>


</html>
